.principal{
    display: flex;
    background-color: rgb(183, 221, 252);
    right: 5000px;
    height: 5000px;
}

.roxa{
    background-color: blueviolet;
    border-radius: 15px;
    margin-top: 80px;
    margin-right: 30px;
    margin-left: 50px;
    width: 950px;
    
}

.perfil1{
    display: flex;
}

.imagemdeperfil{
    border-radius: 600px;
    width: 50px;
    padding: 10px
}

.perfiltexto{
    margin-top: 15px;
}

.nomedaniel{
    margin: 0px;
    margin-top: 33px;
}

.Verified1{
    margin: 0px;
    margin-top: 5px;
}

.texto1{
    padding-left: 35px;
    padding-right: 15px;
}

.diveroxapreto{
    display: flex;
}

.preto1{
    background-color: gray;
    border-radius: 15px;
    margin-top: 80px;
    margin-right: 30px;
    width: 450px;
}

.texto2{
    padding-left: 35px;
    padding-right: 15px;
}

.nomeJonathan{
    margin: 0px;
    margin-top: 33px;
}

.divebranco{
    background-color: rgb(255, 255, 255);   
    border-radius: 15px;
    margin-top: 80px;
    margin-right: 50px;
    width: 340px;
    height: 920px;
}

.texto3{
    padding-left: 35px;
    padding-right: 15px;

}

.nomeKira{
    margin: 0px;
    margin-top: 33px;
}

.divebrancopreto{
    display: flex;
}

.branco{
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    margin-top: 30px;
    margin-left: 50px;
    width: 450px;
    height: 370px;
}

.texto4{
    padding-left: 35px;
    padding-right: 15px;
}
.preto2{
    background-color: grey;
    border-radius: 15px;
    margin-top: 30px;
    margin-left: 30px;
    width: 950px;
    height: 370px;
}

.texto5{
    padding-left: 35px;
    padding-right: 15px;
}